__pycache__/
*.pyc
.venv/
.env

data/chest_xray/
data/*.zip
models/*.pt
models/*.pth
outputs/
reports/*.png
reports/*.csv
reports/*.json

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.mp4

# Word / LibreOffice Lock Files
~$*
.~lock.*
